.nav-sidebar .nav-item .nav-link.active {
    background-color: #28a745 !important; 
    color: #ffffff !important; 
}

.nav-sidebar .nav-item .nav-link.active:hover {
    background-color: #218838 !important; 
    color: #ffffff !important; 
}